<form class="container" (submit)="onAddTask($event)">
  <input name="task" class="input" (input)="onCreateTask($event)"/>
  <button type="submit" class="button">Add</button>
</form>

<app-task
  *ngFor="let task of tasks; let i = index"
  [task]="task.task"
  (delete)="onDeleteTask(i)"
  (taskChange)="changeTask(i, $event)"
></app-task>
