.task {
  display: inline-block;
  width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  justify-content: center;
  background: darkslategrey;
  color: whitesmoke;
}

.img {
  float: right;
}

.container {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.input {
  border-radius: 15px 50px 30px;
  box-shadow: 10px 5px 5px black;
}

.input:focus {
  border: 5px solid red;
  border-radius: 0;
  box-shadow: 0 0 0;
}
