<div class="container">
<div class="task">
  <h2>{{getTask()}}<img [src]="icon" style="max-height: 25px" class="img" (click)="onDeleteClick()" alt="Delete"/></h2>
  <input name="editTask" (input)="onTaskChange($event)"/>
</div>
</div>
